body{
    background-color: orange;
}

#contador{
    font-size: 100px;
    text-align: center;
    margin-top: 40vh;
}

#botones{
  display: flex;
  justify-content: center;  
  gap: 20px;               
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0077b6;
}