:root{
    font-family:-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
}

body{
    background-color: rgba(40, 29, 29, 0.603);
    flex-direction: column;
    font-size: 1.7rem;
    color: #fff;;
    display: flex;
}
h1{
    align-self: center;
    color:  #1a1a1a;
}

#listaCompra{
    align-self: center;
    margin-top: 5rem;
}

ul{
    list-style-type: none;
}

/* From Uiverse.io */ 
input {
  font-weight: 500;
  font-size: .8vw;
  color: #fff;
  background-color: rgb(28,28,30);
  box-shadow: 0 0 .4vw rgba(0,0,0,0.5), 0 0 0 .15vw transparent;
  border-radius: 0.4vw;
  border: none;
  outline: none;
  padding: 0.4vw;
  max-width: 190px;
  transition: .4s;
}

input:hover {
  box-shadow: 0 0 0 .15vw rgba(135, 207, 235, 0.186);
}

input:focus {
  box-shadow: 0 0 0 .15vw skyblue;
}

button {
  box-shadow: 0 0 .4vw rgba(0,0,0,0.5), 0 0 0 .15vw transparent;
  padding: 10px 15px;
  border: none;
  background-color: #1a1a1a;
  color: #fff;
  font-size: 0.8rem;
  cursor: pointer;
  border-radius: 0.4vw;
  transition: all 0.4s ease;
  outline: none;
  position: relative;
  overflow: hidden;
  font-weight: bold;
}

button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.25) 0%,
    rgba(255, 255, 255, 0) 70%
  );
  transform: scale(0);
  transition: transform 0.5s ease;
}

button:hover::after {
  transform: scale(4);
}

button:hover {
  border-color: skyblue;
  background:  skyblue;
}