 body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh; /* pantalla completa */
      margin: 0;
      font-family: Arial, sans-serif;
      background-color: #7bca9f;
    }

    #reloj {
      font-size: 3rem;
      color: #ffffff;
    }